!!!
%html.no-js{:lang => "de"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:300,regular,700|BenchNine:300,regular,700|Montserrat|Open+Sans", :rel => "stylesheet"}
    %title= current_resource.data.title
    = stylesheet_link_tag "bundle"

    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBwzJAQLP6pYc7_aoMRQmmbWiR6Uvhs7As"

  %body{:class => page_classes}
    .off-canvas-wrapper
      .off-canvas-wrapper-inner{'data-off-canvas-wrapper' => ''}
        .off-canvas.position-left.reveal-for-large{:id => "my-info", 'data-off-canvas' => '', 'data-position' => "left"}
          %nav
            %ul.menu
              %li
                %a{:href => "/"} Home
              %li
                %a{:href => "/map.html"} Karte
              %li.end-main-menu
                %a{:href => "/"} About
              %li
                %p Tags
                %ul.menu
                  - blog.tags.sort.each do |tag, _|
                    %li
                      %a{:href => "#"}= tag
              %li
                %p Archiv
                %ul.menu
                  - blog.articles.group_by {|a| a.date.year }.sort.each do |year, _|
                    %li
                      %a{:href => "#"}= year

        .off-canvas-content{'data-off-canvas-content'=> ''}
          .title-bar.hide-for-large
            .title-bar-left
              %button.menu-icon{:type => "button", 'data-open' => "my-info"}
              %span.title-bar-title Menu
          = yield
    = javascript_include_tag  "bundle"