---
title:
---

.blog-grid
  .grid-sizer
  - blog.articles[0...20].each do |article|
    .grid-item.real-grid-item{'data-tags': "#{article.tags.join(' ')} #{article.date.year}"}
      = link_to(article) do
        %img.init{:src => image_small_path(article, 'main.jpg')}
        %p #{article.title}<br />#{I18n.l(article.date, format: "%B %Y")}
